<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/auth/registration}" th:object="${person}">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" th:field="*{username}">
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text text-danger"> Username error</div>
  </div>
  <div class="mb-3">
    <label for="yearOfBirth" class="form-label">year Of Brith</label>
    <input type="text" class="form-control" id="yearOfBirth" th:field="*{yearOfBirth}">
    <div th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}" class="text text-danger"> yearOfBrith error</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">password</label>
    <input type="text" class="form-control" id="password" th:field="*{password}">
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text text-danger"> password error</div>
  </div>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
</body>
</html>